.triangle {
    position: absolute;
    opacity: 0.95;
    width: 0;
    height: 0;
    border-style: solid;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

th,
td {
    padding: 0px;
}

table {
    border-spacing: 0px;
}
